@using Domain

<div class="row overflow-y-auto log-text">
    <div class="d-flex flex-row align-items-center">
        <div class="circle" style="background: @User.Color">@userInitials</div>
        <div class="ml-1"> <small>@Log.Timestamp.ToString("t")</small> @Dog.Name @Activity.Text @Activity.Emoji</div>
    </div>
</div>

@code {
    [Parameter]
    public Log Log { get; set; }

    [Parameter]
    public Activity Activity { get; set; }

    [Parameter]
    public User User { get; set; }

    [Parameter]
    public Dog Dog { get; set; }

    private string userInitials;

    protected override void OnInitialized()
    {
        userInitials = string.IsNullOrEmpty(User.Name)
            ? "?"
            : User.Name.Substring(0, 1);
    }
}
